.oxygen-product-cartflows {
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 0;
    border-radius: 4px;
    padding: 10px;
}


.single-add-to-cut-header {
    margin: .5rem 0;
    text-align: center;
    font-weight: 700;
    width: 100%;
    font-size: 35px;
}

.single-add-to-cut-header-locker {
    gap: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.single-add-to-cut-header-locker-li {
    height: 6px;
    width: 80px;
    border-radius: 6px;
    background-color: var(--bs-btn-bg-secondary);
}

.single-add-to-cut-header-locker-li.cntr {
    width: 30px;
}


.checkout-area {
    padding: 30px 0px 10px 0;
    margin: 0 auto;
    max-width: 600px;
}
.border-bottom-orange-2{
    padding: 12px 10px 12px;
    border-bottom: 4px solid #f77f53;
}

.background-white{
    padding: 24px 24px 24px 24px;
    background-color: #FFF;
    border-style: solid;
    border-width: 1px 1px 3px 1px;
    border-color: #EBEBEB;
    margin: 0 0 36px 0;
}

.checkout-area .background-white .card-title {
    font-size: 24px;
    font-weight: 500;
    color: #333;
    text-align: left;
}

.product-switch-title {
    color: #737373;
    font-size: 16px;
    margin-bottom: 5px;
}

.background-white .highlight-head{
   position: relative;
    width: 100%;
    top: 0;
    right: 0;
    background: transparent;
    color: var(--bs-btn-bg);
    padding: 0.22em 0;
    text-align: left;
    font-size: 0.8em;
    font-weight: 500;
    transform: rotate(0);
    -webkit-transform: rotate(0);
}


.checkout-area .form-group {
    margin-bottom: 30px;
    text-align: left;
    position: relative;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


.checkout-area .form-group label {
    background-color: rgb(255 255 255);
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 15px;
    top: -7px;
    margin-bottom: 6px;
    font-weight: 500;
    position: absolute;
    color:#333;
    z-index: 999;
}

.checkout-area .form-group input {
    border: 0;
    border-radius: 6px;
    height: 50px;
    font-size: 16px;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #cbd3d9;
    width: 100%;
    box-shadow: 0px 0px 0px 1px #e5e5e5;
}


.checkout-area .form-group ::placeholder {
    font-size: 12px;
    color: #aaa
}

::file-selector-button {
    font: inherit;
    -webkit-appearance: button
}

.checkout-area .form-group select {
    cursor: pointer;
    transition: .3s;
    height: 55px;
    padding: 0 30px;
    outline: none;
    color: #777;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #e3e6e9;
    border-radius: 6px;
    background: url(./arrow-icon.png) 95% center no-repeat transparent;
    padding-right: 32px;
    font-size: 16px;
    line-height: 1.7;
    width: 100%;
    word-wrap: normal
}

.checkout-area .form-group textarea {
    min-height: 80px;
    border: 0;
    border-radius: 6px;
    resize: none;
    padding: 15px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #e3e6e9;
    line-height: 1.5;
    padding-left: 15px;
    padding-top: 20px;
    width: 100%;
}

.invalid-feedback {
    display: none;
    color: #fa896b;
}

.checkout-area .form-group .is-invalid {
    border-color: #fa896b;
}

.is-invalid {
    border-color: #fa896b;
    padding-right: calc(1.5em + 16px);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23fa896b'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23fa896b' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + 4px) center;
    background-size: calc(.75em + 8px) calc(.75em + 8px);
}

.is-invalid+.invalid-feedback {
    display: block;
}




.order-checkout-summery {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.checkout-billing {
    padding: 0 5px;
}

.add-to-products-data.active {
    background-color: #f7f7f7;
    border: 1px solid var(--bs-body-color);
    box-shadow: 0 5px 10px -5px rgba(150, 150, 150, 0.5);

}

.add-to-products-data {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 10px;
    margin: 0 0px 22px;
    border-radius: 0.35em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.add-to-products-data input{
    min-width: 30px;
    width: 30px;
}

.add-to-products-data  input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 14px;
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: 0;
    top: 2px;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    transition: .05s border-color ease-in-out;
    position: absolute;
    left: 10px;
    z-index: 99;
    top: 50%;
    margin-top: -8px;
}
.add-to-products-data.active  input[type=checkbox] {
    border-width: 5px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: #fff;
    border-color: #08A1EF;
}

.add-to-products-image {
    width: 85px;
    margin-left: 30px;
}

.add-to-products-image img {
    border: 1px solid #ececec;
}

.add-to-products-infor {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.add-to-products-infor .products-title {
    color: #737373;
    font-size: 16px;
    margin-bottom: 5px;
}

.add-to-products-infor .products-navs {
    font-size: 14px;
    color: var(--bs-link-color);
}

.add-to-products-infor .products-navs .products-old-price {
    text-decoration-line: line-through;
    color: rgb(124, 124, 124);
    margin: 0 5px;
}

.products-old-price {
    color: rgb(124, 124, 124);
    text-decoration-line: line-through;
    margin-right: 5px;
    font-weight: normal;
}

.add-to-products-infor .products-navs .products-discount-amount {
    color: var(--bs-link-color);
}

.products-save-amount {
    color: var(--bs-highlight-bg);
}

.products-quantity-table {
    display: flex;
    margin-top: 5px;
}

.products-quantity-table button {
    color: #333;
    background: #e1e1e1;
    border: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.products-quantity-table input {
    height: 30px;
    width: 50px;
    border-radius: 0px;
    text-align: center;
    border: 1px solid #ececec;
    font-size: 16px;
    box-shadow: none;
}

.products-amount-wrapper {
    border: 1px solid #ececec;
    border-radius: 8px;
    margin-top: 20px;
    padding: 1rem;
}

.products-amount-raw {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

.products-amount-wrapper .products-current-price {
    color: var(--bs-highlight-bg);
    font-weight: 700;
}

.products-amount-raw.products-delivary {
    margin-top: 10px;
    font-size: 12px;
    color: rgb(124, 124, 124);
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.products-amount-raw {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

.products-amount-raw.products-delivary-method {
    font-size: 12px;
    color: rgb(124, 124, 124);
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.products-amount-raw {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

.products-amount-raw.products-total-amount {
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.products-amount-raw {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

.checkout-btn {
    width: 100%;
    border: none;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--bs-btn-bg);
    border-radius: .375rem;
    color: rgb(255 255 255);
    font-size: 1rem;
}

@media (max-width: 667px) {
    .add-to-products-data {
        padding: 20px 5px;
    }

    .add-to-products-infor .products-navs {
        font-size: 12px;
    }

}
.products-navs{
    min-width: 60px;
}


 #shipping_method ul {
    padding: 0;
    margin: 0 0 0.5em 0;
    border: 1px solid #d6d7db;
    border-radius: 4px;
}
#shipping_method ul li {
    -js-display: flex;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    margin: 0;
}
 #shipping_method ul li:not( :last-child ) {
    border-bottom: 1px solid #d6d7db;
}
#shipping_method ul li label {
    color: #555;
    font-weight: 400;
    -js-display: flex;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;

}

#shipping_method  ul li input {
    vertical-align: middle;
    height: 18px;
    width: 19px;
}
