.cart-widget-side{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}
.cart-widget-side.cart-widget-opened{
    display: block;
}

.cart-widget-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: min(340px, 100vw);
    background-color: #FFF;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    right: 0;
    left: auto;
    height: 100%;
    top: 0;
    transform: translate3d(100%, 0, 0);
}

.cart-widget-opened .cart-widget-wrapper {
    transform: none;
}


.cart-widget-wrapper .widget_shopping_cart{
    display: flex;
    position: relative;
    flex: 1 1 100%;
}
.cart-widget-wrapper .widget_shopping_cart_content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
}
.cart-widget-wrapper .widget_shopping_cart_body {
    position: relative;
    flex: 1 1 auto;
}
.widget_shopping_cart_body .widget-scroll-content {
    position: absolute;
    inset: 0;
    max-height: 100%;
    overscroll-behavior: none;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.mini_cart_item .remove_from_cart_button{
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 2;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: var(--bs-secondary-color);
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    top: 13px;
    inset-inline-end: 10px;
}
.mini_cart_item .remove_from_cart_button:hover {
    background-color: var(--bgcolor-white);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.widget-scroll-content>.mini_cart_item:last-child {
    border-bottom: none !important;
}

.mini_cart_item img {
    position: relative;
    flex: 0 0 auto;
    overflow: hidden;
    margin-right: 15px;
    display: block;
    min-width: 65px;
    max-width: 65px;
}
.mini_cart_item .cart-info {
    flex: 1 1 auto;
    padding-right: 20px;
}
.mini_cart_item .cart-info .quantity{
    display: block;
    color: #bbb;
    font-size: 90%;
}

.cart-widget-side .amount{
   color: var(--bs-primary);
   font-weight: 600;
}
.cart-widget-side .shopping-cart-widget-footer>* {
    padding-inline: 15px;
}
.cart-widget-side .shopping-cart-widget-footer {
    flex: 0 0 auto;
    padding-bottom: 15px;
}
.widget_mini_cart_total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block: 15px;
    font-size: 130%;
}
.widget-mini-cart_buttons {
    display: block;
    text-align: center;
}
.widget-mini-cart_buttons .btn-cart {
    padding:  5px 20px;
    min-height:  42px;
    font-size:  13px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.widget-mini-cart_buttons .btn-checkout {
    padding:  5px 20px;
    min-height:  42px;
    font-size:  13px;
    color: #FFF;
    background: var(--bs-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
